.navbar {
  background-color: red;
  display: block;
}
.Football-body {
  background-color: #000;
}
.linebacker-p {
  font-size: 1.1rem;
}

.main-titel {
  text-align: center;
  width: 25%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}

li {
  display: inline-block;
}

li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

li a:hover {
  color: #000;
}

#ul-head {
  position: relative;
  display: inline-block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.li-FV,
.li-pro,
.li-NFLT,
.PP,
.EQ,
.FR {
  margin-left: 100px;
}

#field {
  height: 300px;
  width: 60%;
  margin: 0 auto;
  display: block;
}

#LB-Bild {
  margin: 0 auto;
  display: block;
  height: 400px;
  width: 600px;
}

#linebacker {
  text-align: center;
  width: 25%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}

#linebacker-article {
  color: rgb(245, 7, 7);
  font-size: 80%;
  width: 100%;
}

.LB-Überschrift-highlight {
  text-align: center;
  width: 25%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}

#Field-HighlightVideo {
  width: 69%;
  margin: 0 auto;
  display: block;
}

.Highlight-LB {
  width: 90%;
  margin: 0 auto;
  display: block;
}

#resiver-bild {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

.border {
  border: double;
}

#Resiver {
  text-align: center;
  width: 25%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}

.resiver-article {
  color: rgb(245, 7, 7);
  font-size: 50%;
  width: 100%;
}

.resiver-p1 {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}
.resiver-p {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}

.resiver-Überschrift-highlight {
  text-align: center;
  width: 50%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}

#div-resiver-vido {
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

#Field-R-HighlightVideo {
  width: 50%;
  height: 70%;
  margin: 0 auto;
  display: block;
}

.Megatron {
  text-align: center;
  width: 25%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}
.Highlight-Resiver {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: block;
}

.ocho-cinco {
  text-align: center;
  width: 25%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}

.Highlight-Resiver2 {
  width: 50%;
  height: 50%;
  margin: 3rem auto;
  display: block;
}

#Runnig-back {
  text-align: center;
  width: 25%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}

#Runnigback-image {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 3rem;
}

.runniback-article {
  color: rgb(246, 8, 8);
  font-size: 60%;
  width: 100%;
}
.runniback-p {
  font-size: 0.8rem;
}

.Runnigback-Überschrift-highlight {
  text-align: center;
  width: 50%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}

#Field-back-HighlightVideo {
  width: 70%;

  margin: 0 auto;
  display: block;
}

.Div-Back {
  width: 100%;
}

.Highlight-runniback {
  width: 100%;
  margin: 0 auto;
}

.div-foot {
  color: rgb(245, 7, 7);
  position: central;
}
.Name {
  font-size: 1rem;
}

.Name {
  text-align: center;
  width: 25%;
  margin: 2rem auto;
  color: rgb(250, 6, 6);
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-top-color: rgb(246, 4, 4);
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: rgb(246, 4, 4);
}
