@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
  height: auto;
  display: block;
  background-repeat: no-repeat;
}
.bg-imag {
  background-image: url(/images/Equipment/riddell\ logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5%;
}
.navbar {
  background-image: url(/images/Equipment/Logo_NIKE.svg.png);
  background-size: 5%;
  background-position: left;
}

li {
  display: inline-block;
  margin-left: 30px;
}

li a:hover {
  color: rgb(245, 9, 9);
}

#ul-head {
  position: relative;
  display: inline-block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #232323;
  overflow: hidden;
  padding: 100px;
  box-sizing: border-box;
  
}
section::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ef3b36;
  clip-path: circle(45% at 100% -20%);
}

section::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #47aafa;
  clip-path: circle(35% at 0% 100%);
}
.container {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .card .imgBx {
  max-width: 100%;
}

.container .card .imgBx img {
  max-width: 100%;
}
.container .card {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(246, 244, 244, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(15px);
}

.container .card .imgBx {
  height: 280px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx {
  transform: translateY(-100px);
}
.container .card .imgBx {
  margin: 0 0 20px;
  transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img {
  transform: translate(0.2px, -40px) rotate(-25deg) scale(1.4);
}
.container .card:hover .imgBx h2 {
  color: #fff;
  font-weight: 500;
}
.container .card .content {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.container .card:hover .content {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50px);
}

.container .card .content .size,
.container .card .content .color {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 2px 5px;
}
.container .card .content .size h3,
.container .card .content .color .colo1 h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.container .card .content .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
  color: #111;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 5px;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}
.container .card .content .size span:hover {
  background: #9bdc28;
}
.container .card .content .color span {
  width: 20px;
  height: 20px;
  background: #f00;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.container .card .content .color span:nth-child(2) {
  background: #111;
}
.container .card .content .color span:nth-child(3) {
  background: #fff;
}
.container .card .content .color span:nth-child(4) {
  background: rgb(182, 182, 182);
}
.container .card .content .color span:nth-child(5) {
  background: rgb(0, 4, 247);
}

.container .card .content a {
  margin-left: 30px;
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 12px 30px;
  background: #fff;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
}

.color1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 2px 5px;
}
.colo1 h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.color1 span {
  width: 20px;
  height: 20px;
  background: #f00;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.color1 span:nth-child(2) {
  background: rgb(245, 3, 3);
}
.color1 span:nth-child(3) {
  background: rgb(255, 251, 0);
}
.color1 span:nth-child(4) {
  background: rgb(3, 8, 247);
}
.color1 span:nth-child(5) {
  background: rgb(0, 247, 227);
}
